<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<script setup lang="ts">
import { inject } from 'vue';
import {
  useEventSource,
  userEventInjectKey,
} from '@/composables/useEventSource';

// 取得user event並監聽事件
const userEvent = inject(userEventInjectKey);
userEvent?.addEventListener('demo', (data) => {
  console.log(data);
});

const channelType = 'xxx';
const channelEvent = useEventSource(`/sse/channel/${channelType}`);
channelEvent?.addEventListener(channelType, (data) => {
  console.log(data);
});
</script>
